tr {
  transition: 0.4s;
}
th {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
  max-width: 200px;
}
td {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
  text-overflow: ellipsis;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}
td:not(:last-child) {
  border-right: 1px solid #eee;
}
tr:hover {
  background-color: #5eb3b3;
}
