.header-parent {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://global.discourse-cdn.com/sitepoint/optimized/3X/3/6/36cb57d71107aa5d944cb4980a5fb9d94f0d35b2_2_690x295.png");
}
body {
  height: 20200px;
}
.container-site {
  padding: 150px 150px;
}

.waves {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 6px;
}

.waves::before {
  content: "aaaaa";
  color: transparent;
  text-decoration-color: red;
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.ads {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://themewagon.github.io/training-studio/assets/images/cta-bg.jpg");
}
