.header-parent {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://global.discourse-cdn.com/sitepoint/optimized/3X/3/6/36cb57d71107aa5d944cb4980a5fb9d94f0d35b2_2_690x295.png");
}
body {
  height: 20200px;
}
.container-site {
  padding: 100px 150px;
}

.waves {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 6px;
}

.waves::before {
  content: "aaaaa";
  color: transparent;
  text-decoration-color: red;
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.ads {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://themewagon.github.io/training-studio/assets/images/cta-bg.jpg");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 31px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgb(250, 107, 100) 6%,
    rgb(226, 238, 171) 100%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    0deg,
    rgb(250, 107, 100) 70%,
    rgb(226, 238, 171) 100%
  );
}

.buy-button:hover {
  background: rgb(250, 107, 100) 70%;
  color: white;
  transition: 0.3s;
}
.swiper-scrollbar-horizontal {
  display: none !important;
}
.swiper-horizontal {
  padding: 100px 100px 50px 100px !important;
}
