.header-parent {
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("https://media.istockphoto.com/id/625739874/photo/heavy-weight-exercise.jpg?s=2048x2048&w=is&k=20&c=1JmhC4Hf9X37bw7PqRpF7eX-0M9zQUPgYAcFCwBa_Fc="); */
}

.container-site {
  padding: 100px 150px;
}

.waves {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 6px;
}

.waves::before {
  content: "aaaaa";
  color: transparent;
  text-decoration-color: red;
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.ads {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://themewagon.github.io/training-studio/assets/images/cta-bg.jpg");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 31px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgb(250, 107, 100) 6%,
    rgb(226, 238, 171) 100%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    0deg,
    rgb(250, 107, 100) 70%,
    rgb(226, 238, 171) 100%
  );
}

.buy-button:hover {
  background: rgb(250, 107, 100) 70%;
  color: white;
  transition: 0.2s;
}
.swiper-scrollbar-horizontal {
  display: none !important;
}
.swiper-horizontal {
  padding: 100px 100px 50px 100px !important;
}

.swiper-slide {
  display: flex !important;
}

.img {
  height: 250px;
  width: 100%;
  background-size: cover;
  background: round;
  /* background-image: url("https://cdn.fleetfeet.com/assets/HOKAMACH5.jpeg/dynamic:1-aspect:1.5-fit:cover-strategy:entropy/HOKAMACH5--1440.jpg"); */
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
