table {
  margin-left: 500px;
}
th { padding-left: 10px; padding-right: 10px; border-bottom: 1px solid #ddd; max-width: 200px; }
td { padding-left: 10px; padding-right: 10px; border-bottom: 1px solid #ddd; text-overflow: ellipsis; max-width: 200px; }

tr:hover {background-color: #D6EEEE;}

