@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
  background-color: inherit;
}

.parent {
  background-image: url("../images/gym.jpg");
  background-size: cover;
}

.test {
  height: 200px;
  width: 200px;
  background-color: green;
  position: relative;
  margin: 100px;
  border: 10px 20px;
  border-color: brown;
  border-style: dotted;
}
