input,
button {
  border: 1px solid green;
  padding: 5px 7px;
  border-radius: 30px;
  transition: 0.2s;
}

button:hover {
  background-color: green;
  color: white;
  transition: 0.2s;
}

button:disabled {
  background-color: lightgray;
  transition: 0.2s;
}

button:disabled:hover {
  color: black;
}

.third {
  border: 1px solid green;
}
input:hover {
  transform: scale(1.01);
  border: 1px solid #ffcb00;
}
.select {
  position: relative;
  border: 1px solid green;
  padding-right: 10px;
}
.select::after {
  position: absolute;
  content: "a";
  right: 0;
  background: red;
  height: 10px;
  width: 10px;
}

@media (max-width: 991px) {
  .gym-tit {
    font-size: 14px;
    margin-left: 62px;
  }
}
